.App {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;

  header {
    padding: 2rem 2rem 1rem 2rem;

    img {
      width: 100px;
    }
  }

  picture img {
    width: 100%;
  }

  h1 {
    padding: 2.75rem 1.75rem 0 1.75rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-neutral);
    letter-spacing: 10px;
    line-height: 40px;
  }

  p {
    color: var(--clr-primary);
    padding: 0.75rem 1.75rem;
    text-align: center;
    font-size: 0.9rem;
  }

  form {
    margin: 1.25rem 1.75rem;
    border: 1px solid var(--clr-primary);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 32px;
    position: relative;

    input {
      width: calc(100% - 1.75rem);
    }
  }

  button {
    cursor: pointer;
    position: absolute;
    background: var(--gr-linear-btn);
    color: white;
    padding: 0.75rem 1.75rem;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 32px;
    box-shadow: var(--clr-primary) 0px 7px 20px 0px;

    &:hover {
      background: var(--clr-primary-red);
    }
  }
}

.highlight {
  font-weight: var(--fw-thin);
  color: var(--clr-primary);
  letter-spacing: 10px;
}

.error-msg {
  color: red;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -35px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.error-icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -1;
  margin-right: 4.75rem;
}

@media screen and (min-width: 600px) {
  #root {
    height: 100%;
  }

  .App {
    grid-template-areas:
            "info img";

    background: url("./assets/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;

    .info {
      grid-area: info;
      padding-left: 10.5rem;
      padding-right: 10.5rem;
    }

    header {
      grid-area: info;
      padding: 4rem 10.5rem 1rem 10.5rem;

      img {
        width: 155px;
      }
    }

    picture img {
      width: unset;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      margin-top: 14.5rem;
      padding: 0 0 1rem 0;
      font-size: 4rem;
      text-align: left;
      line-height: 4.2rem;
      letter-spacing: 16px;
    }

    p {
      padding: 0.75rem 3.75rem 0.75rem 0;
      text-align: left;
      font-size: 1rem;
      line-height: 25px;
    }

    form {
      margin: 2.25rem 0 0;
      padding: 0.75rem 1.5rem 0.75rem 1.5rem;
      max-width: 440px;
      isolation: isolate;

      input {
        width: calc(100% - 7.25rem);
      }
    }

    button {
      padding: 0.75rem 2.75rem;
    }

    picture {

    }
  }

  .highlight {
    letter-spacing: 16px;
  }

  .error-icon {
    margin-right: 6.75rem;
  }
}