.App {
  display: grid;
  grid-template-columns: 1fr;

  header {
    padding: 2rem;

    img {
      width: 100px;
    }
  }

  h1 {
    padding: 3.5rem 1.75rem 0 1.75rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-neutral);
    letter-spacing: 10px;
    line-height: 2.9rem;
  }

  p {
    color: var(--clr-primary);
    padding: 0.75rem 1.75rem;
    text-align: center;
    font-size: 0.9rem;
  }

  form {
    margin: 1.25rem 1.75rem;
    border: 1px solid var(--clr-primary);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 32px;
    position: relative;

    input {
      width: calc(100% - 1.75rem);
    }
  }

  button {
    cursor: pointer;
    position: absolute;
    background: var(--gr-linear-btn);
    color: white;
    padding: 0.75rem 1.75rem;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 32px;
    box-shadow: var(--clr-primary) 0px 7px 20px 0px;

    &:hover {
      background: var(--clr-primary-red);
    }
  }
}

.highlight {
  font-weight: var(--fw-thin);
  color: var(--clr-primary);
  letter-spacing: 10px;
}

@media screen and (min-width: 600px) {
  .App {
    grid-template-areas:
            "info img";

    background: url("./assets/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: left bottom;

    .info {
      grid-area: info;
      padding-left: 10.5rem;
      padding-right: 10.5rem;
    }

    header {
      padding: 4rem 0 1rem 0;

      img {
        width: 155px;
      }
    }

    h1 {
      padding: 7.5rem 0 1rem 0;
      font-size: 4rem;
      text-align: left;
      line-height: 4.2rem;
      letter-spacing: 16px;
    }

    p {
      padding: 0.75rem 3.75rem 0.75rem 0;
      text-align: left;
      font-size: 1rem;
      line-height: 25px;
    }

    form {
      margin: 2.25rem 0 0;
      padding: 0.75rem 1.5rem 0.75rem 1.5rem;
      max-width: 440px;
    }

    button {
      padding: 0.75rem 2.75rem;
    }

    picture {

    }
  }

  .highlight {
    letter-spacing: 16px;
  }
}